.love {
  color: aliceblue;
  font-size: 19px;
  padding: 0px 8px;
}

.blood-heading {
  color: white;
  font-size: 15px;
  font-family: serif;
  letter-spacing: 1px;
  font-weight: 500;
  padding-left: 7px;
  padding-top: 10px;
}

.dashbord-fild {
  margin-left: 0px;
}
.dashbord-list {
  background-color: #353a40;
  /* height: 584px; */
  padding-top: 17px;
}
.dashbord-list li {
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
}

.list-item {
  list-style: none;
  color: #bebcd2;
  padding: 13px 0px;
  border-bottom: 1px solid #ffffff1f;
  font-family: serif;
  text-align: start;
}

.list-icon {
  margin-right: 6px;
  font-size: 16px;
}

.link-style {
  text-decoration: none;
}
