.side_bar {
  background-color: #353a40;
  color: aliceblue;
  /* border-radius: 10px; */
  position: sticky;
  top: 0;
  padding-left: 30px !important;
  z-index: 1;
}
body {
  overflow-x: hidden;
  position: relative;
}
