.side_bar {
  background-color: #353a40;
  color: #bebcd2;
  /* position: sticky; */
  /* top: 0; */
  padding-left: 30px !important;
  /* z-index: 1; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.side_bar_card {
  max-width: 100%;
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
  max-width: 300px;
  overflow: hidden;
}

.side_bar_card img {
  transition: 0.5s;
}
.side_bar_card:hover img {
  transform: scale(1.1);
}

/* .side_bar select,
.side_bar button {
  background-color: rgb(100, 100, 94);
  display: block;

  height: 50px;
  margin: 20px 0;
  padding: 10px;
} */
body {
  overflow-x: hidden;
  position: relative;
}

.pagination {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid blanchedalmond;
  padding: 10px;
}
.pagination button {
  margin-left: 15px;
  border: 1px solid blak;
  padding: 0 15px;
}
.pagination .selected {
  background-color: chocolate;
}

/* @media screen and (max-width: 768px) {
  .side_bar {
    display: none;
  }
} */
.loader {
  margin: auto;
  margin-bottom: 100px;
}
