.side_bar {
  background-color: rgba(75, 72, 72, 0.973);
  color: aliceblue;
  /* border-radius: 10px; */
  position: sticky;
  top: 0;
  padding-left: 30px !important;
  z-index: 1;
}
body {
  overflow-x: hidden;
  position: relative;
}
