.main-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  min-height: 220px;
  border-radius: 10px;
  transition: 0.5s;
}
.card-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image {
  overflow: hidden;
  text-align: center;
  /* width: 150px; */
}
.card-row img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.main-card:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 18px 50px -10px;
}
.main-card:hover img {
  object-fit: cover;
  transform: scale(1.2);
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.location_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
